.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.contain {
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
.button {
  width: 100px;
  text-align: center;
  align-self: center;
}
.mar {
  margin: 10px;
}
.image {
  height: 257px;
  width: 240px;
  margin: 15px;
}